/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/* LET */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2.5em;
}

dfn {
  font-style: italic;
}

mark {
  background: #fff;
  color: #444;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #444;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/* LET */
/* @import 'let'; */
.navbar-default .navbar-header .navbar-brand {
  color: #F2D44F;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
  color: #F2D44F !important;
}

.navbar-default .navbar-header .navbar-brand img.white {
  display: block;
}
.navbar-default .navbar-header .navbar-brand img.color {
  display: none;
}

@media (min-width: 768px) {
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F2D44F;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand img.white {
    display: none;
  }
  .navbar-default.affix .navbar-header .navbar-brand img.color {
    display: block;
  }

  .navbar-default.affix .nav > li > a:hover {
    color: #F2D44F !important;
  }
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #F2D44F;
}

.mecate-logo {
  margin-top: 70px;
  width: 80%;
}

.mecate-primary {
  background-color: #F2D44F;
}

.navbar-default {
  background-color: #222;
}

.logo-mecate {
  margin-top: 70px;
}

section {
  padding: 70px 0px;
}

.section-short {
  padding: 30px 0px;
}

#description {
  margin-top: 60px;
}

#origin {
  padding: 50px 0px;
}
#origin p {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #F2D44F;
  border-color: #F2D44F;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.button-sep, .register-btn, .info-btn {
  margin-top: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.service-box img {
  margin-bottom: 25px;
  margin-top: 20px;
}

/* @import "let"; */
/* Top nav bar styles */
.navbar-brand img {
  max-width: 290px;
  margin-bottom: 20px;
}

.navbar-default {
  padding-bottom: 10px;
}

ul.navbar-nav {
  padding-top: 15px;
}

button.navbar-toggle {
  margin-top: 20px;
}

.main-logo {
  max-height: 300px;
  margin: auto;
}

.section-heading {
  font-weight: 600;
}

.section-main-text {
  color: rgba(51, 51, 51, 0.9);
}

.service-box .info i {
  font-size: 2em;
}
.service-box i {
  margin: 30px 0px;
}

/* Footer styles */
footer .name-address {
  font-size: 0.8em;
  font-weight: 300;
  text-align: center;
  margin-top: 4em;
  padding: 1em 2em;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  border-color: #e53d24;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #e53d24;
}
a:hover, a:focus {
  color: #bf2d17;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: #e53d24;
}

.bg-dark {
  background-color: #222;
  color: white;
}

.text-faded {
  color: rgba(255, 255, 255, 0.9);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #e53d24;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
  color: #bf2d17;
}
.navbar-default .navbar-header .navbar-brand img.color {
  display: block;
}
.navbar-default .navbar-header .navbar-brand img.white {
  display: none;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #e53d24;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #e53d24 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .navbar-header .navbar-brand img.white {
    display: block;
  }
  .navbar-default .navbar-header .navbar-brand img.color {
    display: none;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #e53d24;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #e53d24;
  }
  .navbar-default.affix .navbar-header .navbar-brand img.white {
    display: none;
  }
  .navbar-default.affix .navbar-header .navbar-brand img.color {
    display: block;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #e53d24;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/header.jpg");
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner img {
  padding-top: 50px;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.service-box h4 {
  margin-top: 40px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(229, 61, 36, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #e53d24;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: #222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
  color: #222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
  background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222;
}

.btn-primary {
  color: white;
  background-color: #e53d24;
  border-color: #e53d24;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
  color: white;
  background-color: #d63219;
  border-color: #cd3018;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #e53d24;
  border-color: #e53d24;
}
.btn-primary .badge {
  color: #e53d24;
  background-color: white;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222;
}

::selection {
  color: white;
  text-shadow: none;
  background: #222;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

footer {
  padding: 50px 0;
}
footer img {
  margin: 5px 20px;
}

body {
  webkit-tap-highlight-color: #222;
}

i {
  margin-bottom: 30px;
}

.embed-responsive {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-grey {
  background-color: #F8F8F8;
}

#mainNav .container-fluid {
  min-height: 65px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.mini {
  font-size: 10px !important;
}

/* ==========================================================================
	Base
/* ========================================================================== */
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
  color: #444;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background: #e1e1e1;
}

/*	Apply to all elements. In a responsive design, this is almost always a good idea */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
  color: #26527c;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: #08111a;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
  font-weight: normal;
}

h5, h6 {
  font-size: 1.1em;
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
  margin: 0 0 1em;
}

/* Paragraphs */
/* Lists */
menu,
ol,
ul {
  padding: 0 0 0 2em;
}

/* Selection Colors */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
button,
.button,
a.button,
input.button {
  display: inline-block;
}

/* Responsive Media Styles */
.media {
  /* Set width on this selector based on design and needs */
}

.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* Floats */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */
/* Less than 320px but will apply at all sizes */
#page-wrap {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 3em 0 #444;
  box-shadow: 0 0 3em 0 #444;
}

#page-header {
  padding: 1em;
  background: url("/wp-content/themes/let-theme/images/black_lozenge.png");
}

#page-logo {
  color: #fff;
}
#page-logo a {
  color: #fff;
}

#page-header ul {
  list-style: none;
  padding: 0;
}
#page-header ul li {
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0 0 0.5em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  background: #298cba;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGNiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDYzODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298cba), color-stop(100%, #1d6385));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #298cba 0%, #1d6385 100%);
  /* W3C */
}
.lt-ie9 #page-header ul li {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298cba', endColorstr='#1d6385',GradientType=0 );
  /* IE6-8 */
}
#page-header ul li a {
  color: #fff;
  text-decoration: none;
}
#page-header ul li:hover a {
  color: #444;
}

/* Content */
#content-wrap {
  padding: 1em;
  background: #fff;
}

.article {
  margin-bottom: 1em;
  border-bottom: 1px solid #444;
}

.article-header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #444;
}

.article-title {
  margin-bottom: 0;
}
.article-title a {
  text-decoration: none;
}

.article-info {
  font-size: .825em;
}

/* Sidebar */
#page-sidebar {
  background: #eee;
  padding: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
#page-sidebar > ul {
  list-style: none;
  padding: 0;
}

.search-form {
  background: url("/wp-content/themes/let-theme/images/black_lozenge.png");
  overflow: hidden;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.search-form .input-wrap {
  float: left;
}
.search-form .input-wrap label {
  display: none;
}
.search-form .input-wrap input {
  width: 100%;
}
.search-form .search {
  width: 75%;
  margin-right: 3%;
}
.search-form .submit {
  width: 22%;
}

/* Footer */
#page-footer {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

/* 320px to 479px */
/* 480px to 639px */
@media only screen and (min-width: 480px) {
  #page-header ul {
    overflow: auto;
  }
  #page-header ul li {
    float: left;
  }
}
/* 640px to 767px */
/* 768px to 1024px */
@media only screen and (min-width: 768px) {
  #page-header {
    padding: 1em 2em;
  }

  #content-wrap {
    overflow: auto;
  }

  #page-content {
    float: left;
    width: 55%;
  }

  #page-sidebar {
    float: right;
    width: 40%;
  }

  .search-form .search {
    width: 70%;
  }
  .search-form .submit {
    width: 27%;
  }
}
/* 1024px to 1534px */
@media only screen and (min-width: 1024px) {
  #page-wrap {
    width: 80%;
  }

  #page-content {
    width: 65%;
    padding: 1em;
  }

  #page-sidebar {
    width: 31%;
  }

  #page-footer {
    width: 80%;
  }
}
/* More than 1534px */
/* High PX Density */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  #page-header {
    background: url("/wp-content/themes/let-theme/images/black_lozenge_@2X.png");
  }

  .search-form {
    background: url("/wp-content/themes/let-theme/images/black_lozenge_@2X.png");
  }
}

/*# sourceMappingURL=global.css.map */
